@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBackgroundColor: hsl(233, 47%, 7%);
    --cardBackgroundColor: hsl(244, 38%, 16%);
    --accentColor: hsl(277, 64%, 61%);
    --mainFontColor: hsl(0, 0%, 100%);
    --mainParagraphColor: hsla(0, 0%, 100%, 0.75);
    --statsHeadingColor: hsla(0, 0%, 100%, 0.6);
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: var(--mainBackgroundColor);
    color: var(--mainFontColor);
}

.stats-card {
    display: flex;
    flex-direction: column;
    width: 87%;
    max-width: 350px;
    min-width: 300px;
    margin: 10px 0;
    background-color: var(--cardBackgroundColor);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
    line-height: 0;
    /* background: var(--accentColor); */
}

.img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accentColor);
    opacity: .45;

}

.stats-card img {
    width: 100%;
    /* mix-blend-mode: overlay; */
    /* border-radius: 10px 10px 0 0; */
}

.text-content {
    padding: 0 30px;
}

.title {
    margin: 40px 0 20px 0;
    font-size: 28px;
    line-height: 1.1;
}

.title span {
    color: rgb(159, 102, 205);
}

.description {
    margin: 15px 0;
    line-height: 1.6;
    color: var(--mainParagraphColor);
}

.stats {
    margin: 45px 0;
}

.stat {
    margin: 30px 0;
}

.figure {
    font-size: 24px;
    font-weight: 700;
}

.heading {
    margin: 5px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'lexend deca', sans-serif;
    color: var(--statsHeadingColor);
}

@media (min-width: 1440px) {
    .stats-card {
        display: flex;
        flex-direction: row-reverse;
        height: 445px;
        width: 1110px;
        max-width: unset;
        min-width: unset;
        text-align: left;
    }

    .text-content {
        padding: 32px 110px 32px 75px;
    }

    .title {
        font-size: 36px;
        line-height: 1.2;
    }

    .description {
        margin: 26px 0;
        line-height: 1.7;
    }

    .stats-card img {
        content: url('../images/image-header-desktop.jpg') !important;
        width: auto;
        height: 100%;
    }

    .stats {
        padding-right: 35px;
        margin: 40px 0;
        display: flex;
        justify-content: space-between;
    }
}